APP_NAME="GrandePay Payments Core"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:9510

APP_TIMEZONE=America/Fortaleza
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_CHANNELS=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=grandepay_payments_core
DB_USERNAME=grandepay
DB_PASSWORD=grandepay
DB_MAX_CONNECTIONS=20
DB_MAX_IDLE_TIME=60

SESSION_DRIVER=array
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log

CACHE_DRIVER=redis

QUEUE_CONNECTION=redis
QUEUE_CONCURRENCY_NUMBER=8

REDIS_HOST=127.0.0.1
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_QUEUE_DB=2
REDIS_MAX_IDLE_TIME=60
REDIS_QUEUE_CONNECTION=queue

PAYMENTS_API_VERSION=v1

JWT_SECRET=
